<div class="container-fluid">
  <hr/>

  <div class="row">
    <div class="col-md-12">
      <p class="text-center text-muted">
        A LEAN<strong>STACKS</strong> Solution
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="text-center text-muted">
        <a href="https://www.youtube.com/channel/UChCCDds_KM-w02yVn7cQI_Q"
           title="Watch LeanStacks Instructional Videos on YouTube"
           target="_blank"
           class="text-muted h3 link-danger"><i class="fa fa-fw fa-youtube-play"></i></a>

        <a href="https://leanpub.com/u/matthewwarman"
           title="LeanStacks Instructional Publications on LeanPub"
           target="_blank"
           class="text-muted h3 link-black"><i class="fa fa-fw fa-leanpub"></i></a>
      </p>
    </div>
  </div>
</div>
