<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title"><i class="fa fa-info-circle"></i> More Information</h4>
      </div>
      <div class="aside-body" ng-click="$hide()">
        <h2>greeting <small>[<strong>gree</strong>-ting]</small></h2>
        <p class="lead">
          noun
        </p>
        <ol>
          <li>the act or words of a person who greets.</li>
          <li>a friendly message from someone who is absent.</li>
          <li>an expression of friendly or respectful regard.</li>
        </ol>
      </div>
      <div class="aside-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>
