<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>
          <i class="fa fa-comment-o text-primary"></i> Greeting Detail
        </h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
      <a href="#/greetings" class="btn btn-default" role="button"><i class="fa fa-list"></i> List</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <p class="pull-right text-primary">ID:</p>
    </div>
    <div class="col-md-10">
      <p>{{greeting.id}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <p class="pull-right text-primary">Language:</p>
    </div>
    <div class="col-md-10">
      <p>{{greeting.lang}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <p class="pull-right text-primary">Text:</p>
    </div>
    <div class="col-md-10">
      <p>{{greeting.text}}</p>
    </div>
  </div>
</div>
