<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>
          <i class="fa fa-plus-circle text-primary"></i> Create a Greeting
        </h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
      <a href="#/greetings" class="btn btn-default" role="button"><i class="fa fa-list"></i> List</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div ng-controller="GreetingCreateFormController">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-2">
            <div id="form-greeting-create-alert"></div>
          </div>
        </div>
        <form name="form" class="form-horizontal" novalidate>
          <div class="form-group">
            <label for="greeting-lang" class="col-sm-2 control-label">Language:</label>
            <div class="col-sm-3">
              <select id="greeting-lang"
                      name="greetingLang"
                      ng-model="greeting.lang"
                      class="form-control"
                      required>
                <option value="en">English</option>
                <option value="fr">French</option>
                <option value="es">Spanish</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="greeting-text" class="col-sm-2 control-label">Text:</label>
            <div class="col-sm-6">
              <input id="greeting-text"
                     name="greetingText"
                     ng-model="greeting.text"
                     type="text"
                     class="form-control"
                     placeholder="Enter a Greeting..."
                     required />
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="button" class="btn btn-default" ng-click="reset(form)">Clear</button>
              <button type="submit" class="btn btn-primary" ng-click="create(greeting)">Create</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
