<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>
          <i class="fa fa-list text-primary"></i> Greeting List
          <sup data-trigger="hover" data-animation="am-flip-x" data-title="Click for more information." bs-tooltip><i class="fa fa-info-circle" ng-class="greetingInfoClass" ng-mouseover="greetingInfoClass='text-primary fa-lg cursor-pointer'" ng-mouseleave="greetingInfoClass='text-muted'" data-template-url="assets/app/partials/greeting-info-aside.html" data-container="body" bs-aside></i></sup>
        </h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <form class="form-inline">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="greeting-filter">Filter:</label>
              <input type="text" class="form-control input-sm" id="greeting-filter" placeholder="type to filter list" ng-model="greetingFilter" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="greeting-sort">Sort:</label>
              <select class="form-control input-sm" id="greeting-sort" ng-model="greetingSort">
                <option value="text">Alphabetical</option>
                <option value="lang">Language</option>
              </select>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <div class="pull-right">
        <button type="button" class="btn btn-default" data-container="#modal-container" data-template-url="assets/app/partials/greeting-create-modal.html" bs-modal="modal">
          <i class="fa fa-plus text-primary"></i> Create
        </button>
      </div>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Greeting</th>
            <th>Language</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="greeting in greetings | filter:greetingFilter | orderBy:greetingSort">
            <td><a href="#/greetings/{{greeting.id}}">{{greeting.text}}</a></td>
            <td>{{greeting.lang}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="modal-container"></div>

</div>
