<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" ng-controller="GreetingCreateFormController">
      <form class="form-horizontal">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><i class="fa fa-plus-circle text-primary"></i> Create a Greeting</h4>
        </div>
        <div class="modal-body">
          <div id="form-greeting-create-alert"></div>
          <div class="form-group">
            <label for="greetingLanguage" class="col-sm-2 control-label">Language:</label>
            <div class="col-sm-6">
              <select class="form-control" id="greetingLanguage" ng-model="greeting.lang">
                <option value="en">English</option>
                <option value="fr">French</option>
                <option value="es">Spanish</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="greetingText" class="col-sm-2 control-label">Text:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="greetingText" placeholder="Enter a Greeting..." ng-model="greeting.text" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="$hide()">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="create(greeting)">Create</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
