<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>
          <i class="fa fa-home text-primary"></i> Home
        </h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p class="lead">
        This is a project skeleton for Angular.js single-page user
        interface applications.  Simply <i class="fa fa-code-fork"></i>
        fork the <i class="fa fa-github"></i>
        <a href="https://github.com/mwarman/skeleton-ui-ng-coffee" target="_blank">repo</a>
        to get started.
      </p>
    </div>
    <div class="col-md-4 col-md-offset-2">
      <p>
        Learn more about <span class="text-primary">LEAN</span><strong>STACKS</strong>
        by going to <a href="http://www.leanstacks.com" target="_blank">leanstacks.com</a>.
      </p>
      <p>
        Get coding tips and tricks from <span class="text-primary">LEAN</span><strong>STACKS</strong>
        pros on <a href="https://www.youtube.com/channel/UChCCDds_KM-w02yVn7cQI_Q" target="_blank">
          <i class="fa fa-youtube-play text-danger"></i> YouTube</a>.
    </div>
  </div>
</div>
